html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#map {
    top: 0px;
    right: 0px;
    width: 100% !important;
    height: 100% !important;
    border-radius: 3%;
}